* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, lightgreen, lightpink, lightgreen);
  }
  p {
    font-size: 40px;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-family: 'Just Another Hand'; cursive;
    z-index: -1;

  }
  h1 {
    position: relative;
    top: 0px;
    font-family: 'Dancing Script'; sarif;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: red;
    background-image: url(bluerose.jpg);
    min-height: 100px;

  }
  h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'Just Another Hand'; cursive;

  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    border-radius: 5%;
    background-color: black;
    z-index: 3;

  }
  .center:hover {
    transform: scale(1.3);
  }
